<!--
  Modal CRUD genérico usado por TODAS las pantallas de alta/edición del
  proyecto (patrón: lista + botón "Agregar" + acciones "Editar"/"Eliminar"
  por renglón). El contenido de #modal-crud-body se reemplaza vía AJAX por
  static/js/ajax.js al hacer clic en un enlace [data-modal-link].
-->
<div class="modal fade" id="modal-crud" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content" id="modal-crud-body">
      <!-- contenido cargado vía AJAX -->
    </div>
  </div>
</div>
